<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SINA US</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <center><h2><img style ="width:30%" src="/images/sinalogo.png">CHECK IN SYSTEM</h2></center>
    <hr>
    <center><h3>Hello, <%= user.firstname %> <%= user.lastname %></h3>
    <p id = "clock"></p>
    </center>
    <div class = "container" style="margin-top:60px; margin-left:100px">
      <form role="form" action="/user/checkin" method="post">
        <button class="btn btn-primary btn-lg">Check In </button>
      </form>
      <br>
      <% if (user.checkin){ %>
      <p>Last Checkin At: <%= user.lastcheckin.localtime %> <%= user.lastcheckin.date%></p>
      <% } %>
      <br>
      <form role="form" action="/user/checkout" method="post">
        <button class="btn btn-primary btn-lg">Check Out</button>
      </form>
      <br>
      <% if (user.checkout){ %>
      <p>Last Checkout At: <%= user.lastcheckout.localtime %> <%= user.lastcheckout.date%></p>
      <% } %>
      <hr>
      <form role="form" action="/user/makenotes" method="post">
        <label>Make a Notes for Absence</label><br>
        <textarea name="notes" rows ="5" cols="80" ></textarea>
        <br>
        <button class="btn" type="submit">submit</button>
      </form>
      <br>
      <a href="/info/<%= user.id %>">check in record</a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.js"></script>
    <script type="text/javascript">
    var myVar=setInterval(function(){myTimer()},1000);
    function myTimer() {
      var d = new Date().toLocaleString();
      document.getElementById("clock").innerHTML = d;
    }
    </script>

  </body>
</html>